*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(160, 161, 160);
}

h1 {
    padding: 2rem;
    color: rgba(35, 35, 36, 0.863);
    text-align: center;
}

.keyboard {
    background-color: rgba(61, 62, 63, 0.959);
    margin: auto 1rem;
    border: 3px solid black;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: auto 22%;
    margin: auto;
    padding: 18px 10px;
    user-select: none;
}

.col-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
}

.key {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-height: 76px;
    background-color: rgb(42, 44, 42);
    border: 2px solid black;
    flex-basis: 90px;
    border-radius: 8px;
    color: rgb(221, 36, 36);
    font-weight: 800;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px red,
        inset 6px 8px 3px rgba(27, 27, 27, 0.74);
}

.key:hover {
    box-shadow: 3px 8px 14px red;
}

.key-border {
    border: 2px solid red;
}

/* ####################### UnderScore ###################### */
.underscore {
    position: relative;
    color: rgba(240, 248, 255, 0);
}

.underscore::before {
    content: "";
    height: 1px;
    width: 16px;
    position: absolute;
    top: 12px;
    right: -3px;
    border: 0.12448rem solid red;
}

/* ##################### UnderScore End ###################### */


/* ==================== Special Keys ======================= */

.special {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.spacebar {
    flex-basis: 550px;
    position: relative;
}

.spacebar::before {
    content: "";
    width: 60%;
    height: 2px;
    position: absolute;
    top: 70%;
    background: red;
}

.lshift {
    flex-basis: 150px;
}

.rctrl {
    flex-basis: 114px;
}

.num-lower-container {
    position: relative;
}

.num-lower-container .row {
    position: absolute;
    left: -15px;
    width: 100%;
}

.num-0,
.num-dot {
    position: absolute;
    left: 120px;
    width: 90px;
}

.num-dot {
    left: 228px;
}

.num-enter-container {
    position: relative;
}

.num-2,
.num-3,
.num-enter {
    position: absolute;
    left: 111px;
    min-width: 90px;
}

.num-3 {
    left: 213px;
}

.num-enter {
    min-height: 174px;
    left: 313px;
}

.w {
    position: relative;
}

.w::before {
    content: "";
    background: rgb(0, 0, 0);
    width: 7px;
    height: 7px;
    position: absolute;
    top: 70%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 1px 1.7px 1.2px rgba(153, 147, 147, 0.931);
    transform: translateX(-50%);
}

.dash {
    position: relative;
}

.dash::before {
    content: "";
    background: red;
    height: 2px;
    width: 12px;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
    border: 0.3px solid rgb(209, 22, 22);
    box-shadow: 3px 2px 12px rgba(134, 55, 55, 0.603);
}