*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: lightblue;
    margin: auto;
    padding: 2rem 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: rgb(95, 94, 94);
    justify-content: space-between;
    padding: 0.7rem;
}

.key {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-height: 76px;
    background-color: rgb(42, 44, 42);
    border: 2px solid black;
    flex-basis: 90px;
    border-radius: 8px;
    color: rgb(221, 36, 36);
    font-weight: 800;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 8px red;
}

.key-border {
    border: 2px solid red;
}

/* ####################### UnderScore ###################### */
.underscore {
    position: relative;
    color: rgba(240, 248, 255, 0);
}

.underscore::before {
    content: "";
    height: 1px;
    width: 16px;
    position: absolute;
    top: 12px;
    right: -3px;
    border: 0.12448rem solid red;
}

/* ##################### UnderScore End ###################### */

.special {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.spacebar {
    flex-basis: 550px;
}

.lshift {
    flex-basis: 150px;
}